body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ece3e3eb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* custom button css */
.custom__button {
  background: #4c45af;

  padding: 10px 15px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
}